* {
    margin: 0;
    padding: 0;
    font-family: serif;
}

#navbar {
    height: 70px;
    background-color: white;
    box-shadow: 0 1px 5px 2px rgb(236, 234, 234);
    display: flex;
    justify-content: space-between;

}

#navbar>div {
    display: flex;
    gap: 25px;
    align-items: center;
    /* padding: 10px 0; */

}

#navbar>div>img {
    height: 50px;
}

#navbar>div:first-child {
    margin-left: 20px;
}

#navbar>div:last-child {
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: black;
}

span {
    font-size: 25px;
    color: gray;
}

h3:hover {
    margin-top: 25px;
    border-bottom-style: solid;
    /* border-bottom-width: 3.1px; */
    width: fit-content;
    padding-bottom: 22px;
    border-bottom-color: #2557a7;
}

#mid-part {
    text-align: center;
    margin-top: 120px;

}

#mid-part>input {
    padding: 15px;
    width: 400px;
    border-radius: 5px;
    font-size: 20px;
    border: 1px solid gray;
}

#mid-part>button {
    padding: 15px;
    width: 120px;
    border-radius: 5px;
    background-color: #0368ab;
    font-size: 20px;
    color: white;
    border: none;
    font-weight: bold;

}

#mid-part>p {
    text-align: center;
    margin: 30px 0px 15px 0px;
    font-size: 20px;
}

p>a {
    color: #0368ab;
    font-weight: bold;
}

p>a:hover {
    color: #0368ab;
    text-decoration: underline;
}

#buttn {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}

h1 {
    margin-bottom: 25px;
}

#buttn>button {
    padding: 15px;
    font-size: 20px;
    margin: 7px;
    border-radius: 5px;
    border: none;
    background-color: #e4e2e0;
}

#buttn>button:hover {
    background-color: rgb(235, 230, 230);
}

#buttn>p {
    margin-top: 150px;
}

#bottm {
    width: 100%;
    height: 100px;
    box-shadow: 5px 0px 0px 0px gray;
    border: 1px solid gray;

}
#bottm>div:first-child{
    display: flex;
    gap: 25px;
    font-weight: 10px;
}
#bottm>div:last-child{
    display: flex;
    gap: 25px;
    margin-top: 15px;
}
#btmm {
    width: 100%;
    height: 130px;
    background-color: #e4e2e0;
    text-align: center;
    border: none;
}

#btmm>button {
    padding: 10px;
    width: 250px;
    background-color: #0368ab;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    margin-top: -20px;

}

#btmm>button:hover {
    background-color: #2557a7;
}

#mv {
    display: flex;
    margin-top: 70px;
    margin-right: 300px;
}